@font-face {
	font-family: HelveticaNeueLTStd-LtEx;
	src: url("../font/HelveticaNeueLTStd-LtEx.otf");
}

.nav {
	list-style-type: none;
	padding-left: 0;
	margin: 0;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;
	padding: 65px 0 55px;

	width: 100%;

	background-color: white;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.nav li {
	padding-right: 30px;
}

.nav li a {
	text-decoration: none;

	font-family: HelveticaNeueLTStd-LtEx, Helvetica, Arial, sans-serif;
	text-transform: uppercase;

	color: black;

	padding-top: 10px;
}

.nav li a.active {
	border-top: 1px solid black;
}

.nav li:last-child {
	padding-right: 0;
}

.section.home {
	background-image: url("../img/home_bg_desktop.png");
	background-size: cover;
	background-position: 0 138px; 
}

.section.home .white-box {
	background-color: rgba(255, 255, 255, 0.93);

	height: 100%;
	width: 75%;

	margin: auto;
	padding: 138px 0 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
}

.section.home .white-box img {
	width: 100%; 
}

.section.one {
	background-color: rgb(250, 255, 0);
}

.ps-logo {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

.page-title {
	color: red;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) { 
	.nav li {
		padding-right: 60px;
	}

	.section.home .white-box {
		width: 60%
	}

	.section.home .white-box img {
		width: 60%; 
	}
}